.content_section {
  max-width: 1440px;
  width: 100%;
  align-items: center;
  margin: auto;
}

.header {
  display: grid;
  grid-template-columns: 596px 148px 596px;
  padding: 92px 50px;
}

.header__menu {
  display: block;
  flex-direction: row;
  align-self: center;
}

.header__link-list {
  display: flex;
  flex-direction: row;
  gap: 33px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  list-style-type: circle;
}

.header__link-list-item:first-child {
  list-style-type: none;
}

.header__link {
  border-bottom: 1px solid;
  text-decoration: none;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
    display: block;
    width: 148px;
    justify-content: stretch;
}

.header__logo-image {

}

.address {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.35;
  color: #000;
  justify-self: end;
  align-self: center;
}

.header__address {
  display: block;
  width: 240px;

}

.header__address a {
  text-decoration: none;
  border-bottom: 1px solid;
}
