.content_section {
  max-width: 1440px;
  width: 100%;
  align-items: center;
  margin: auto;
  padding-right: 50px;
  padding-left: 50px;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 109px;
  justify-content: space-between;
  align-content: center;
  padding-top: 92px;
  padding-bottom: 92px;
}

.header__menu {
  display: block;
  flex-direction: row;
}

.header__link-list {
  display: flex;
  flex-direction: row;
  gap: 33px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  list-style-type: circle;
}

.header__link-list-item:first-child {
  list-style-type: none;
}

.header__link {
  border-bottom: 1px solid;
  text-decoration: none;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
    display: block;
    width: 136px;
    margin-right: 148px;
}

.address {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.35;
  color: #000;
  justify-self: end;
  align-self: center;
}

.header__address {
  display: block;
  width: 240px;

}

.header__address a {
  text-decoration: none;
  border-bottom: 1px solid;
}

.cover {
    background-image: url(/images/cover.jpg);
    background-repeat: no-repeat;
    color: #fff;
    padding-top: 165px;
    padding-bottom: 50px;
}

.cover__title {

}

.aligned-text {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-size: 100px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 30px;
    text-transform: uppercase;
    margin-bottom: 13px;

}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;

}

.cover__description {
    display: flex;
    gap: 78px;
    justify-content: flex-end;
    align-items: center;
}

.cover__description-text {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 18.5px;
}

.bet-button {
    background: transparent;
    padding: 12px 32px;
    color: #fff;
    line-height: normal;
    border: 1px solid #fff;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}