.content_section {
  max-width: 1440px;
  width: 100%;
  align-items: center;
  margin: auto;
  padding-right: 50px;
  padding-left: 50px;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 109px;
  justify-content: space-between;
  align-content: center;
  padding-top: 92px;
  padding-bottom: 92px;
}

.header__menu {
  display: block;
  flex-direction: row;
}

.header__link-list {
  display: flex;
  flex-direction: row;
  gap: 33px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  list-style-type: circle;
}

.header__link-list-item:first-child {
  list-style-type: none;
}

.header__link {
  border-bottom: 1px solid;
  text-decoration: none;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  display: block;
  margin-right: 144px;
}

.address {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.35;
  color: #000;
  justify-self: end;
  align-self: center;
}

.header__address {
  display: block;
  width: 240px;
}

.header__address a {
  text-decoration: none;
  border-bottom: 1px solid;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  padding-top: 165px;
  padding-bottom: 50px;
  z-index: 0;
}

.overlay {
  position: absolute;
  inset: 0;
  opacity: 0.6;
  background: #000;
  z-index: 1;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.aligned-text {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 100px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 30px;
  text-transform: uppercase;
  z-index: 2;
}

.aligned-text_center {
  text-align: center;
  line-height: 1;
}

.aligned-text_right {
  text-align: right;
  line-height: 1;
}

.text_letter-spacing {
  letter-spacing: 60px;
}

.text_letter-spacing__reset {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 135px;
  gap: 78px;
}

.cover__description-text {
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
  z-index: 2;
}

.bet-button {
  background: transparent;
  padding: 12px 32px;
  color: #fff;
  line-height: normal;
  border: 1px solid #fff;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 2;
}

.lots {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 180px;
}

.lots__heading {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  color: #000;
  padding-left: 40px;
  margin-bottom: 27px;
}

.lots__card-list {
  display: flex;
  list-style: none;
  gap: 25px;
  color: #fff;
}

.lots__card-list-item {
  min-width: 430px;
  min-height: 450px;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  padding: 50px 40px;
}

.card__title {
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration-line: underline;
  text-transform: uppercase;
  z-index: 1;
  flex-basis: 192px;
}

.card__text {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  z-index: 1;
  flex-basis: auto;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #000;
  margin-top: 30px;
  margin-left: 40px;
}

.about {
  display: grid;
  grid-template-columns: 430px auto;
  grid-template-rows: auto auto;
  grid-column-gap: 25px;
  margin-top: 180px;
}

.about__column {
  width: 430px;
  height: 240px;
  padding: 0 95px;
}

.about__logo {
  background-color: #000;
  height: 100%;
  padding: 63px 43px;
  border-radius: 50%;
}

.about__logo-image {
  height: 100%;
}

.about__title {
  grid-row: 1/2;
  grid-column: 2/3;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  margin-top: 8px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: start;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #000;
  margin-top: 8px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 90px;
  margin-top: 180px;
}

.footer__menu {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #000;
}

.footer__address {
  width: 240px;
}

.footer__address a {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-link {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  width: 240px;
  height: 48px;
}

.footer__link_active {
  border-bottom: none;
}

.footer__social-link {
  height: 100%;
}

.footer__social-icon {
  height: 100%;
}
